.adminHeader {
    margin-left: 0px;
    margin-top: -10px;
}

.serviceDoctorBtn {
    /*margin-left:20px;*/
    margin-top: 3px;
    border-radius: 4px;
    height: 28px;
    border-color: #367fa9;
    width: 180px;
}

.adminActiveInactiveBtns {
    padding-top:0px;
    color: white;
    background-color: #3c8dbc;
    height: 20px;
}

.adminDropDown>button {
    padding-top: 2px;
}

.adminDropDown>ul {
    width: 50%;
}

.adminDropDown {
    margin-left: -3px;
}


/*#selectService {
    margin-top: 5px;
    border-radius: 4px;
    height: 28px;
    border-color: #367fa9;
    width: 20%;
}*/


/*@media screen and (max-width:1400px){
    .selectDoctorSection{
        margin-left:100px;
    }
}*/

.addProcedureBtn {
    margin-top: 6px;
    background-color: #3c8dbc;
    color: white;
}

.addProcedureBtn:hover {
    background-color: #367fa9;
    color: white;
}

#exampleInputProcedureName,
#exampleInputRemarks,
#exampleInputCostAdmin {
    width: 50%;
    height: 28px;
    border-radius: 4px;
    margin-bottom: 4px;
    border-color: #367fa9;
}

.doctorsServicesInDropDown {
    cursor: pointer;
}

#exampleInputProcedureName {
    margin-top: 2px;
    width: 50%;
    height: 28px;
}

.tableInAdmin {
    margin-top: 6px;
}

#doctorServicesHeader {
    background-color: #3c8dbc;
}

.tableInAdmin>thead>tr>th {
    border-right: 1px solid white;
    text-align: center;
    color: white;
}

.tableInAdmin>tbody>tr>td {
    text-align: center;
    border: 1px solid #367fa9;
}

.adminEntity {
    margin-top: -10px;
}

@media screen and (max-width:991px) {
    #exampleInputProcedureName,
    #exampleInputRemarks,
    #exampleInputCostAdmin {
        width: 70%;
        height: 28px;
        border-radius: 4px;
        margin-bottom: 4px;
        border-color: #367fa9;
    }
}

.selectDoctorSection {
    margin-top: -9px;
    margin-left: 50px;
}


/*.procedureInputForm {
        margin-left: 110px;
    }*/
