#wrapperMainAdmin {
    margin-top: -20px;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapperMainAdmin.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #f4f4f4;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.mainAdminLinks {
    cursor: pointer;
}

#wrapperMainAdmin.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapperMainAdmin.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: black;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: white;
    background: #3c8dbc;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    color: white;
    background: #3c8dbc;
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: black;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: black;
    background: none;
}

@media(min-width:768px) {
    #wrapperMainAdmin {
        padding-left: 250px;
    }
    #wrapperMainAdmin.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #wrapperMainAdmin.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapperMainAdmin.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.mainAdminBtn,
.mainAdminBtn:hover {
    color: white;
    background-color: #3c8dbc;
}

.mainAdminTable>thead>tr>th,
.mainAdminTable>tbody>tr>td {
    text-align: center;
}

.searchInMainAdmin {
    width: 180px !important;
}

.glyphiconSearch {
    background-color: #3c8dbc !important;
    color: white !important;
}

.searchBtnInMainAdmin {
    margin-top: -1px !important;
    height: 35px !important;
}

#drpBtnRoom,
#drpBtnRoomDoctor,
#drpBtnRoomDoc {
    margin-left: -1px !important;
    border-color: none !important;
    color: black !important;
    width: 75% !important;
}

#drpBtnDivAdmin>ul,
#drpBtnDivAdminDoctor>ul,
#drpBtnDivAdminDoc>ul {
    width: 75% !important;
}

#caretInCategory,
#caretInDoctor,
#caretInDoc {
    position: absolute;
    left: 70%;
    top: 43%;
}

.highlightActiveAdminEntity {
    color: white !important;
    background-color: #3c8dbc !important;
}

.mainAdminLinks:hover,
.mainAdminLinks:active,
.mainAdminLinks:focus {
    color: white !important;
}
