<div ng-controller="bedController as bed">
    <h4>Add Bed</h4>
    <button class="btn mainAdminBtn" data-toggle="modal" data-target="#addBedModal">Add New</button>
    <div id="addBedModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Bed</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-8">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputBedNumber">Bed Number</label>
                                    <input ng-model="bed.addNew.bedNo" type="text" class="form-control" id="exampleInputBedNumber" placeholder="Bed Number">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputBedStatus">Bed Status</label>
                                    <br>
                                    <select class="form-control" ng-model="bed.addNew.bedStatus">
                                        <option>VACANT</option>
                                        <option>OCCUPIED</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputRoomNumber">Room Number</label>
                                    <div id='drpBtnDivAdminBed' class="dropdown">
                                        <button style="border-color:#d2d6de;" id="drpBtnBedDoctor" class="btn dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                                            <span id="caretInBed" class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                           
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-inline">
                                    <button ng-click="bed.addNewBed()" class="btn mainAdminBtn" data-dismiss="modal">Save</button>
                                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
