<div ng-controller="addTemplateController as addTemplate">
    <h3>Add Template</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <form>
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="dropdown">
                                <button style="font-weight:700;" id="sectionNameBtn" type="button" data-toggle="dropdown" class="btn dropdown-toggle docDropdownInInpatient roomDropdowns roomTypeDropdown">{{addTemplate.sectionNameToDisplay}}
                                    <span class="caret" id="sectionNameCaret"></span></button>
                                <ul id="sectionNameDropDown" class="dropdown-menu">
                                    <li ng-click="addTemplate.selectSectionName(sectionEntity)" ng-repeat="sectionEntity in addTemplate.sectionNamesList">
                                        <a class="doctorsListInBill" ng-bind="sectionEntity.sectionName"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                    <div ng-if="addTemplate.sectionNameDiv" class="form-group">
                        <label for="exampleInputSectionName">*Section Name</label>
                        <input ng-model="addTemplate.sectionName" type="text" class="form-control" id="exampleInputSectionName" placeholder="Section Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFieldName">*New Field Name</label>
                        <input ng-model="addTemplate.fieldName" type="text" class="form-control" id="exampleInputFieldName" placeholder="Field Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFieldHeaderName">*New Field Header Name</label>
                        <input ng-model="addTemplate.fieldHeaderName" type="text" class="form-control" id="exampleInputFieldHeaderName" placeholder="New Field Header Name">
                    </div>
                    <div class="form-group">
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="dropdown">
                                    <button id="fieldTypeBtn" style="font-weight:700;" class="btn dropdown-toggle docDropdownInInpatient roomDropdowns roomTypeDropdown" type="button" data-toggle="dropdown">{{addTemplate.fieldType}}
                                        <span class="caret" id="fieldTypeCaret"></span></button>
                                    <ul id="fieldTypeDropDown" class="dropdown-menu">
                                        <li ng-click="addTemplate.selectFieldType(fieldTypeEntity)" ng-repeat="fieldTypeEntity in addTemplate.fieldTypesList">
                                            <a class="doctorsListInBill" ng-bind="fieldTypeEntity.fieldName"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div ng-if="addTemplate.showDropdownDiv" class="form-group">
                        <form class="form-inline">
                            <div class="form-group">
                                <input ng-model="addTemplate.newDropdownFieldText" type="text" class="form-control" id="exampleInputName2" placeholder="Add Dropdown Fields">
                            </div>
                            <button ng-click="addTemplate.addNewDropdownField()" type="submit" class="btn addPatientBtn buttonsInInpatientModal">Add</button>
                            <div class="form-group">
                                <textarea ng-model="addTemplate.addedFieldsForDropdown" id="dropdownAddedFieldsTextArea" class="form-control" columns="5" rows="3" placeholder="Added Fields"></textarea>
                            </div>
                        </form>
                    </div>
                    <!-- <div class="form-group">
                        <label for="exampleSectionTableFields">Section Table Header Fields:</label>
                        <form class="form-inline">
                            <div class="form-group">
                                <input ng-model="addTemplate.tableHeaderFields" type="text" class="form-control" id="exampleInputTableHeaderFields" placeholder="Table Header Fields">
                                <button ng-click="addTemplate.addHeaderFields()" type="submit" class="btn addPatientBtn buttonsInInpatientModal">Add</button>
                                <div class="form-group">
                                    <textarea ng-model="addTemplate.addedTableHeaderFields" id="addedHeaderTextArea" class="form-control" rows="3" placeholder="Added Header Fields"></textarea>
                                </div>
                            </div>
                        </form>
                    </div> -->
                    <button type="submit" ng-click="addTemplate.addField()" class="btn addPatientBtn buttonsInInpatientModal">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
