<div ng-controller="adminCtrl as adminView" ng-cloak>
    <div class="admin">
        <div class="container">
            <h3 class="adminHeader">Admin</h3>
            <div class="selectDoctorSection">
                <form>
                    <div class="form-group adminEntity">
                        <div class="form-inline adminEntity">
                            <div class="form-group adminDropDown dropdown">
                                <button class="serviceDoctorBtn" type="button" data-toggle="dropdown">{{adminView.admin.doctorInDropdown}}
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="doctor in adminView.doctorsListInAdmin">
                                        <a class="doctorsServicesInDropDown" ng-click="adminView.doctorSelect(doctor)" ng-bind="doctor.firstName +' '+doctor.lastName"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="form-group adminDropDown dropdown">
                                <button class="serviceDoctorBtn" type="button" data-toggle="dropdown">{{adminView.admin.serviceInDropDown}}
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="service in adminView.servicesList">
                                        <a ng-click="adminView.serviceSelect(service)" ng-bind="service" class="doctorsServicesInDropDown"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div ng-if="adminView.admin.procedureName" class="form-group animate-if adminEntity">
                        <input type="text" class="form-control procedureNameTxtBox" ng-model="adminView.admin.procedureNameTxtBox" placeholder="Name" id="exampleInputProcedureName">
                    </div>
                    <div class="form-group adminEntity">
                        <input type="text" class="form-control" valid-number ng-model="adminView.admin.procedureCostTextBox" placeholder="Cost" id="exampleInputCostAdmin">
                    </div>
                    <div class="form-group adminEntity">
                        <input type="text" class="form-control" ng-model="adminView.admin.procedureRemarksTextBox" placeholder="Remarks" id="exampleInputRemarks">
                    </div>
                    <button type="submit" ng-click="adminView.submitServiceRequest()" class="btn addProcedureBtn adminEntity">Add</button>
                </form>
                <img class="spinner" src="css/images/default (2).gif" ng-show="adminView.loading"></img>
                <table class="table tableInAdmin">
                    <thead>
                        <tr id="doctorServicesHeader">
                            <th>S.No.</th>
                            <th>Name</th>
                            <th>Cost</th>
                            <th>Remarks</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="tableInAdminBody">
                        <tr class="itemsAnimation" ng-repeat="doctorService in adminView.admin.servicesListOfTheDoctor">
                            <td ng-bind="$index+1"></td>
                            <td ng-bind="doctorService.billingName"></td>
                            <td ng-bind="doctorService.price/100"></td>
                            <td ng-bind="doctorService.remark"></td>
                            <td>
                                <button ng-class="[doctorService.state]" ng-click="adminView.btnActiveInServicesTable(doctorService)" ng-attr-id="{{'activeBtn'+$index}}" class="btn adminActiveInactiveBtnsBlue">{{doctorService.state}}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
