<div ng-controller="bedSideProcedureController as bedSide">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#contentOfBedTab">Bed Side Procedure</a></li>
    </ul>
    <div class="tab">
        <div id="contentOfBedTab" class="tab-content activeTabContent">
            <button class="btn mainAdminBtn">Add Services</button>
            <table class="table mainAdminTable table-hover table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Service Provided</th>
                        <th>Qty</th>
                        <th>Notes</th>
                        <th>Prepared By</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
