<div ng-controller="homeCtrl" ng-cloak>
    <nav class="navbar assistantNav navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button style="background-color:white;" type="button" aria-expanded="false" aria-controls="navbar" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="dboticaInHeader" class="navbar-brand">dbotica</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-if="isVisibleNavs.patientManagement" ng-click="activeSectionBackGroundToggle('patient')" ui-sref=".patientManagement"><a ng-class="{'activeSectionBlack':isPatientBlack,'activeSectionBlue':isPatientBlue}" class="navbarLinks">Patient management</a></li>
                    <li ng-if="isVisibleNavs.billManagement" ng-click="activeSectionBackGroundToggle('bill')" ui-sref=".billManagement"><a class="navbarLinks" ng-class="{'activeSectionBlack':isBillBlack,'activeSectionBlue':isBillBlue}">Bill Management</a></li>
                    <li ng-if="isVisibleNavs.inventory" ng-click="activeSectionBackGroundToggle('inventory')" ui-sref=".inventory"><a class="navbarLinks" ng-class="{'activeSectionBlack':isInventoryBlack,'activeSectionBlue':isInventoryBlue}">Inventory</a></li>
                    <li ng-if="isVisibleNavs.admin" ng-click="activeSectionBackGroundToggle('admin')" ui-sref=".admin"><a class="navbarLinks" ng-class="{'activeSectionBlack':isAdminBlack,'activeSectionBlue':isAdminBlue}">Admin</a></li>
                    <li ng-if="isVisibleNavs.ipd" ng-click="activeSectionBackGroundToggle('ipd')" ui-sref=".ipd"><a class="navbarLinks" ng-class="{'activeSectionBlack':isIpdBlack,'activeSectionBlue':isIpdBlue}">IPD</a></li>
                    <li ng-if="isVisibleNavs.analyticReports" ng-click="activeSectionBackGroundToggle('analytic')" ui-sref=".analyticReports"><a class="navbarLinks" ng-class="{'activeSectionBlack':isAnalyticBlack,'activeSectionBlue':isAnalyticBlue}">Analytic reports</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="logoutLink" style="color:white;cursor:pointer;" ng-click="logoutFromAssistant()">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="uiViewAnimation" ui-view autoscroll="false"></div>
