<div ng-controller="homeCtrl" ng-cloak>
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:void" id="logo" class="logo">
                    <span class="logo-mini"><b>db</b></span>
                    <span class="logo-lg"><b>dbotica</b></span>
                </a>
            </div>
            <!-- Navbar Links -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ui-sref=".patientManagement"><a style="color:white;" class="navbarLinks">Patient management</a></li>
                    <li ui-sref=".billManagement"><a style="color:white;" class="navbarLinks">Bill Management</a></li>
                    <li ui-sref=".inventory"><a style="color:white;" class="navbarLinks">Inventory</a></li>
                    <li ui-sref=".analyticReports"><a style="color:white;" class="navbarLinks">Analytic reports</a></li>
                    <li ui-sref=".admin"><a style="color:white;" class="navbarLinks">Admin</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="color:white;" ng-click="logoutFromAssistant()" href="javascript:void">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div ui-view autoscroll="false"></div>
