<div ng-controller="labsController as labs">
    <div class="container">
        <h3>Labs:</h3>
        <table id="labsTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Patient Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Test Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="labEntity in labs.labTestsList">
                    <td ng-bind="$index+1"></td>
                    <td ng-bind="labEntity.referenceDetails.firstName"></td>
                    <td ng-bind="labEntity.referenceDetails.age"></td>
                    <td ng-bind="labEntity.referenceDetails.gender"></td>
                    <td ng-bind="labEntity.diagnosisTest"></td>
                    <td>
                        <button class="btn btnDelete">Generate QR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
