<div ng-controller="patientDetailsController as detail">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#contentOfPatientDetailsTab">Patient Details</a></li>
    </ul>
    <div class="tab">
        <div id="contentOfPatientDetailsTab" class="tab-content activeTabContent">
            <div class="row">
                <a></a>
                <div class="col-md-12 col-sm-12 col-xs-12" ng-init="sectionIndex=$index" ng-repeat="entity in detail.formsList track by $index">
                    <div ng-repeat="formEntity in entity">
                        <button style="margin-top:10px;" ng-if="$index==0" class="btn mainAdminBtn" data-toggle="modal" data-target="#addPatientDetails{{sectionIndex}}">{{formEntity.sectionName}}</button>
                        <table ng-if="$index==0" class="table mainAdminTable table-hover table-striped">
                            <thead>
                                <tr>
                                    <th ng-repeat="headerEntity in formEntity.tableHeaders" ng-bind="headerEntity.headerField"></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody ng-if="patientMedication && detail.getData();">
                                <tr ng-repeat="detailEntity in detail.templateEventsList track by $index">
                                    <td ng-if="displayEntity.nameOfSection==formEntity.sectionName" ng-repeat="displayEntity in detailEntity.referenceDetails.detailsArray track by $index" ng-bind="displayEntity.displayField"></td>
                                    <a href="">{{displayEntity.displayField}}</a>
                                </tr>
                            </tbody>
                            <tbody></tbody>
                        </table>
                        <div id="addPatientDetails{{sectionIndex}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 ng-if="$index==0" ng-bind="formEntity.sectionName"></h4>
                                    </div>
                                    <div class="modal-body">
                                        <div ng-repeat="modalEntity in entity">
                                            <div ng-if="modalEntity.fieldState=='ACTIVE' && modalEntity.fieldType=='TEXT_BOX'" class="form-group">
                                                <label ng-bind="modalEntity.name"></label>
                                                <input type="text" class="form-control" name="text" ng-model="modalEntity.description">
                                            </div>
                                            <div ng-if="modalEntity.fieldState=='ACTIVE' && modalEntity.fieldType=='DROPDOWN'" class="form-group">
                                                <label ng-bind="modalEntity.name"></label>
                                                <select class="selectBoxesInNurse" ng-model="modalEntity.description" ng-options="template.value as template.name for template in modalEntity.restrictValues"></select>
                                            </div>
                                            <div ng-if="modalEntity.fieldState=='ACTIVE' && modalEntity.fieldType=='CHECK_BOX'" class="form-group">
                                                <label ng-bind="modalEntity.name"></label>
                                                <div class="row">
                                                    <div ng-repeat="restrictValue in modalEntity.restrictValues" class="col-md-3 col-sm-3 col-xs-3">
                                                        <label class="checkbox-inline">
                                                            <input ng-click="detail.selectCheckBox(restrictValue)" ng-checked="restrictValue.checkBoxValue" type="checkbox">{{restrictValue.name}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="modalEntity.fieldState=='ACTIVE' && modalEntity.fieldType=='TEXT_AREA'" class="form-group">
                                                <label ng-bind="modalEntity.name"></label>
                                                <textarea ng-model="modalEntity.description" class="form-control" rows="2"></textarea>
                                            </div>
                                            <div ng-if="modalEntity.fieldState=='ACTIVE' && modalEntity.fieldType=='BUTTON'">
                                                <button ng-click="detail.submitDetails(entity,sectionIndex)" class="btn addPatientBtn buttonsInInpatientModal">{{modalEntity.name}}</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
