<div ng-controller="patientDetailsController as detail">
    <ul class="nav nav-tabs">
        <li class="active">
            <a ng-bind="activeTemplate.name"></a>
        </li>
    </ul>
    <div class="tab">
        <div id="contentOfPatientDetailsTab" class="tab-content activeTabContent">
            <div ng-repeat="section in activeTemplateFields">
                <div ng-repeat="sectionEntity in section track by $index">
                    <a ng-if="patientMedication && detail.getData();"></a>
                    <h4 ng-if="$index==0" ng-bind="sectionEntity.sectionName"></h4>
                    <hr ng-if="$index==0">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div ng-if="sectionEntity.fieldState=='ACTIVE' && sectionEntity.fieldType=='TEXT_BOX'" class="form-group">
                                <label ng-bind="sectionEntity.name"></label>
                                <input type="text" class="form-control" name="text" ng-model="sectionEntity.description">
                            </div>
                            <div ng-if="sectionEntity.fieldState=='ACTIVE' && sectionEntity.fieldType=='DROPDOWN'" class="form-group">
                                <label ng-bind="sectionEntity.name"></label>
                                <select class="selectBoxesInNurse" ng-model="sectionEntity.description" ng-options="template.value as template.name for template in sectionEntity.restrictValues"></select>
                            </div>
                            <div ng-if="sectionEntity.fieldState=='ACTIVE' && sectionEntity.fieldType=='TEXT_AREA'" class="form-group">
                                <label ng-bind="sectionEntity.name"></label>
                                <textarea ng-model="sectionEntity.description" class="form-control" rows="2"></textarea>
                            </div>
                            <div ng-if="sectionEntity.fieldState=='ACTIVE' && sectionEntity.fieldType=='CHECK_BOX'" class="form-group">
                                <label ng-bind="sectionEntity.name"></label>
                                <div class="row">
                                    <div ng-repeat="restrictValue in sectionEntity.restrictValues" class="col-md-3 col-sm-3 col-xs-3">
                                        <label class="checkbox-inline">
                                            <input ng-click="restrictValue.checkBoxValue=!restrictValue.checkBoxValue" type="checkbox">{{restrictValue.name}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button ng-click="detail.submitPatientFullForm()" style="margin-left:10px;" class="btn mainAdminBtn">Save</button>
            </div>
        </div>
    </div>
</div>
