<div class="patientManagement" ng-controller="patientManagementCtrl">
    <aside class="main-sidebar">
        <section class="sidebar">
            <h4 class="asideDoctorsHeader">Doctors</h4>
            <hr class="asideHr">
            <ul class="docList nav">
                <li data-toggle="tab" id="menu_text" ng-repeat="doctor in doctorsList" ng-click="doctorSelected(doctor)">
                    <a class="docLinks" style="color:#00bd9c;" href="javascript:void">{{doctor.firstName}} {{doctor.lastName}}<br>{{doctor.speciality}}</a>
                    <hr class="doctorLine">
                </li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper" style="background-color:white;" ng-cloak>
        <h4 style="font-size:22px;color:#49b181;">Dr.{{doctorName}}</h4>
        <h5><b> {{doctorSpecialization}}</b></h5>
        <div id="exTab2" class="container">
            <ul class="tabContents nav nav-tabs">
                <li class="tabActive active">
                    <a href="javascript:void" style="font-size:16px;" data-toggle="tab">Patients</a>
                </li>
                <li><a href="javascript:void" style="font-size:16px;" data-toggle="tab">Doctor Scheduler</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="1">
                    <div class=" buttonsRow">
                        <form class="form-inline">
                            <div class="form-group">
                                <button type="button" ng-click="cancelBookingsModal()" data-toggle="modal" data-target="#myCancelBookingsModal" class="cancelBookingsBtn pull-left btn">Cancel Bookings</button>
                            </div>
                            <div class="form-group pull-right">
                                <button type="button" ng-click="viewDoctorsSection()" class="doctorTimingsBtn pull-right btn">Doctor Timings</button>
                                <button type="button" class="addPatientBtn pull-right btn" data-toggle="modal" ng-click="patientSearch()" data-target="#myModal">Patient Search</button>
                                <input ng-maxlength=10 is-number type="text" class="pull-right" id="inputPatientPhoneNumberSearch" ng-model="patientDataSearch.phoneNumberSearch" placeholder="Phone Number">
                            </div>
                        </form>
                    </div>
                    <div id="myCancelBookingsModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Cancel Bookings</h4>
                                </div>
                                <div class="modal-body">
                                    <label for="exampleInputEmail2">Phone Number : </label>
                                    <form class="form-inline">
                                        <div class="form-group">
                                            <input ng-model="cancelBook.phoneNumber" type="text" class="form-control" id="exampleInputphoneNumberForCancelling" placeholder="Phone Number">
                                        </div>
                                        <button type="submit" id="modalCancelBookingsSearchBtn" ng-click="cancelBookings()" class="btn">Search Bookings</button>
                                    </form>
                                    <hr>
                                    <div ng-if="cancelAppointmentsTable">
                                        <label>Slots : </label>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>S.No.</th>
                                                    <th>Name</th>
                                                    <th>Date</th>
                                                    <th>Time</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="booking in bookingsForCancelling">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{booking.label}}</td>
                                                    <td>{{booking.startTime | date:'dd/MM/yyyy'}}</td>
                                                    <td>{{booking.startTime | date:"h:mm a"}}</td>
                                                    <td>
                                                        <button type="button" ng-click="cancelAppointmentBookingOfFutureDays(booking,$index)" class="btn cancelBookingsModalCloseBtn btn-xs">Cancel</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="doctorTimings" class="doctorTimings">
                        <form class="form-inline">
                            <div class="form-group sessionDateSelect">
                                <p style="margin:0px 10px 0 0;" class="dataPara">
                                    <label>Date:</label>
                                    <input ng-model="dateSelected" type="text" id="sessionDatepicker">
                                </p>
                            </div>
                            <div class="form-group">
                                <p class="startTimeBox">
                                    <label>Start Time:</label>
                                    <input class="time ui-timepicker-input" ng-model="addTime.dayStartTime" type="text" id="timepicker">
                                </p>
                            </div>
                            <div class="form-group">
                                <p class="endTimeBox">
                                    <label>End Time:</label>
                                    <input class="time ui-timepicker-input" ng-model="addTime.dayEndTime" type="text" id="timepickerEndTime">
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEndTime">Step Size(in mins):</label>
                                <input type="text" class="ui-timepicker-input time" ng-model="addTime.timePerPatient" class="form-control" id="exampleInputStepSize">
                            </div>
                            <button type="submit" ng-click="addTimingsBtn()" class="btn btn-default">Add Timings</button>
                        </form>
                    </div>
                    <table class="patientsTable table">
                        <thead class="thead-default">
                            <tr class="patientsListHeaderRow">
                                <th>S.No.</th>
                                <th>Patient Name</th>
                                <th>Entry Type</th>
                                <th>Time</th>
                                <th id="actions">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="patientRow" ng-repeat="patient in patientsList">
                                <td>{{$index+1}}</td>
                                <td>{{patient.label}}</td>
                                <td>{{patient.calendarStatus}}</td>
                                <td>{{patient.startTime | date:"h:mma"}}</td>
                                <td id="actionsOnPatient">
                                    <button class="btn checkin">Check-In</button>
                                    <button data-toggle="modal" data-target="#myModal" ng-click="editDetailsOfPatient(patient.patientId)" class="btn btn-default neutral">Edit Details</button>
                                    <button ng-click="cancelAppointment(patient,$index)" class="btn warning">Cancel Appointment</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 style="color:black;" class="modal-title">Patient Details</h4>
                                </div>
                                <div class="modal-body">
                                    <div ng-if="viewDetailsLink" class="patient-form-group form-group">
                                        <a class="viewDetailsLink" ng-click="viewDetails()" href="javascript:void">View/Hide Patient Details</a>
                                        <hr>
                                    </div>
                                    <div ng-show="patientAvailable">
                                        <form class="patient-form-inline form-inline">
                                            <div class="col-md-4 col-sm-8 col-xs-8 patientDetails patient-form-group form-group">
                                                <span class="modalInfo">* Name </span>
                                                <input type="text" class="modal-Form-control form-control" id="inputPatientFirstName" ng-model="patientData.firstName" placeholder="Name">
                                            </div>
                                            <div class="col-md-4 col-sm-8 col-xs-8 patientDetails patient-form-group form-group">
                                                <span class="modalInfo">Email Id</span>
                                                <input type="text" class="modal-Form-control form-control" id="inputPatientEmailId" ng-model="patientData.emailId" placeholder="Email Id">
                                            </div>
                                            <div class="col-md-4 col-sm-8 col-xs-8 patientDetails patient-form-group form-group">
                                                <span class="modalInfo">* Phone</span>
                                                <input type="text" class="modal-Form-control form-control" id="inputPatientPhoneNumber" ng-model="patientData.phoneNumber" placeholder="Phone Number" readonly>
                                            </div>
                                        </form>
                                        <hr>
                                        <form class="patient-form-inline form-inline">
                                            <div class="col-md-4 col-sm-8 col-xs-8 patientDetails patient-form-group form-group">
                                                <span class="modalInfo">Age</span>
                                                <input type="text" class="modal-Form-control form-control" id="inputPatientAge" ng-model="patientData.age" placeholder="Age">
                                            </div>
                                            <div class="col-md-4 col-sm-8 col-xs-8 patientDetails patient-form-group form-group">
                                                <span class="modalInfo">Gender</span>
                                                <select type="text" style="width:180px;" id="inputPatientGender" ng-model="patientData.gender" type="text" class="modal-Form-control form-control" id="patient-reg-bloodgrp">
                                                    <option value="MALE">MALE</option>
                                                    <option value="FEMALE">FEMALE</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 col-sm-8 col-xs-8 patientDetails patient-form-group form-group">
                                                <span class="modalInfo">Blood Group</span>
                                                <select style="width:180px;" ng-model="patientData.bloodGroup" type="text" class="form-control modal-Form-control" id="inputPatientBloodGroup" id="patient-reg-bloodgrp">
                                                    <option value="O_POSITIVE">O_POSITIVE</option>
                                                    <option value="O_NEGATIVE">O_NEGATIVE</option>
                                                    <option value="A_POSITIVE">A_POSITIVE</option>
                                                    <option value="A_NEGATIVE">A_NEGATIVE</option>
                                                    <option value="B_POSITIVE">B_POSITIVE</option>
                                                    <option value="B_NEGATIVE">B_NEGATIVE</option>
                                                    <option value="AB_POSITIVE">AB_POSITIVE</option>
                                                    <option value="AB_NEGATIVE">AB_NEGATIVE</option>
                                                    <option value="OTHER">OTHER</option>
                                                </select>
                                            </div>
                                        </form>
                                        <form class="patient-form-inline form-inline">
                                            <div class="col-md-4 col-sm-8 col-xs-8 patientDetails patient-form-group form-group">
                                                <span class="modalInfo">Address</span>
                                                <input type="text" class="modal-Form-control form-control" id="inputPatientAddress" ng-model="patientData.city" placeholder="Address">
                                            </div>
                                            <div class="col-md-4 col-sm-8 col-xs-8 patientDetails patient-form-group form-group">
                                                <span class="modalInfo">Drug Allergy</span>
                                                <input type="text" class="modal-Form-control form-control" id="inputPatientDrugAllergy" ng-model="patientData.drugAllergy" placeholder="Drug Allergy">
                                            </div>
                                        </form>
                                        <hr>
                                        <form class="patient-form-inline form-inline">
                                            <div class="col-md-2 col-sm-4 col-xs-4 patientDetails patient-form-group form-group">
                                                <span class="modalInfo">Weight</span>
                                                <input type="text" style="width:80px;" class="modal-Form-control form-control" id="inputPatientWeight" ng-model="patientData.weight" placeholder="Weight">
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-4 patientDetails patient-form-group form-group">
                                                <span class="modalInfo">Height</span>
                                                <input type="text" style="width:80px;" class="modal-Form-control form-control" id="inputPatientHeight" ng-model="patientData.height" placeholder="Height">
                                            </div>
                                        </form>
                                        <form class="patient-form-inline form-inline">
                                            <div class="col-md-2 col-sm-4 col-xs-4 patientDetails patient-form-group form-group">
                                                <span class="modalInfo">Pulse</span>
                                                <input type="text" style="width:80px;" class="modal-Form-control form-control" id="inputPatientPulse" ng-model="patientData.pulse" placeholder="Pulse">
                                            </div>
                                            <div class="col-md-3 col-sm-4 col-xs-4 patientDetails patient-form-group form-group">
                                                <span class="modalInfo">Blood Pressure</span>
                                                <input type="text" class="modal-Form-control form-control" id="inputPatientBloodPressure" style="width:80px;" ng-model="patientData.bloodPressure" placeholder="B.P.">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="nextForm" ng-show="nextForm">
                                    <b id="bookAppointmentLabel">Book Appointment:</b>
                                    <form class="patient-form-inline form-inline">
                                        <div class="col-md-4 patient-form-group form-group">
                                            <span class="modalInfo">Name</span>
                                            <input type="text" class="modal-Form-control form-control" id="inputPatientNameInNextDiv" ng-model="patientDataInNextDiv.name" placeholder="Name">
                                        </div>
                                        <div class="col-md-4 patient-form-group form-group">
                                            <span class="modalInfo">Entry Type</span>
                                            <button ng-change="changeEntryTypeView()" id="entryTypeBtn" class="btn dropdown-toggle" ng-model="entryTypeSelected.value" type="button" data-toggle="dropdown">{{patientEntryType}}
                                                <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="option in entryType"><a ng-click="selectOption(option)">{{option}}</a></li>
                                            </ul>
                                        </div>
                                    </form>
                                    <form ng-show="dateSelectBox" class="patient-form-inline form-inline">
                                        <div class="col-md-4 patient-form-group form-group">
                                            <p class="modalInfo">Date:
                                                <br>
                                                <input readonly="readonly" ng-model="dateSelectedForBooking" ng-change="dateTimings()" class="modal-Form-control form-control datepicker" type="text" id="datepicker">
                                            </p>
                                        </div>
                                    </form>
                                    <div ng-if="sessionTypes" class="col-md-12">
                                        <div class="btn-group">
                                            <label class="btn btn-default" ng-model="radioModel" btn-radio="'morning'" id="morningLabel" ng-click="viewTime('morning')" uncheckable>Morning</label>
                                            <label class="btn btn-default" ng-model="radioModel" btn-radio="'afternoon'" id="afternoonLabel" ng-click="viewTime('afternoon')" uncheckable>Afternoon</label>
                                            <label class="btn btn-default" ng-model="radioModel" btn-radio="'evening'" id="eveningLabel" ng-click="viewTime('evening')" uncheckable>Evening</label>
                                        </div>
                                    </div>
                                    <div class="timings" ng-if="morningTimings">
                                        <span ng-repeat="element in morningArray" ng-attr-id="{{'morningArrayBtn'+$index}}" ng-attr-ng-disabled="{{'morningArrayBtnDisabled'+$index}}" class="btn morningTimingsArray buttonTimings" ng-class="{true:'activeButton'}[activeBtn == $index]" ng-click="selectButton(element.time,$index);">{{element.time | date:"h:mm a"}} ({{element.count}})</span>
                                    </div>
                                    <div class="timings" ng-if="afternoonTimings">
                                        <span ng-repeat="element in afternoonArray" ng-attr-id="{{'afternoonArrayBtn'+$index}}" ng-attr-ng-disabled="{{'afternoonArrayBtnDisabled'+$index}}" class="btn afternoonTimingsArray buttonTimings" ng-class="{true:'activeButton'}[activeBtnAfternoon == $index]" ng-click="selectAfternoonButton(element.time,$index);">{{element.time | date:"h:mm a"}} ({{element.count}})</span>
                                    </div>
                                    <div class="timings" ng-if="eveningTimings">
                                        <span ng-repeat="element in eveningArray" ng-attr-id="{{'eveningArrayBtn'+$index}}" ng-attr-ng-disabled="{{'eveningArrayBtnDisabled'+$index}}" class="btn eveningTimingsArray buttonTimings" ng-class="{true:'activeButton'}[activeBtnEvening == $index]" ng-click="selectEveningButton(element.time,$index);">{{element.time | date:"h:mm a"}} ({{element.count}})</span>
                                    </div>
                                </div>
                                <div class="row modal-footer" style="margin-top:100px;border-top:0px;">
                                    <button ng-disabled="nextBtn" type="submit" ng-click="bookSlot()" class="btn btn-primary" data-dismiss="modal">Book</button>
                                    <button id="modalSubmitBtn" ng-disabled="addPatientBtn" type="submit" ng-click="addPatient()" class="btn btn-primary">{{modalSubmitButtonText}}</button>
                                    <button type="button" ng-click="close()" style="margin-right:10px;" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="2">
                    <section class="content-header">
                        <div class="col-md-14">
                            <div style="border-top:0px solid white;" class="box">
                                <button type="submit" class="btn btn-primary pull-right" id="prescription-reset">Reset</button>
                            </div>
                        </div>
                        <h1>
                Calendar
              </h1>
                        <section class="content">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="box box-solid">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">Draggable Events</h4>
                                        </div>
                                        <div class="box-body">
                                            <!-- the events -->
                                            <div id="external-events">
                                                <div class="external-event bg-green">Lunch</div>
                                                <div class="external-event bg-yellow">Home</div>
                                                <div class="checkbox">
                                                    <label for="drop-remove">
                                                        <input type="checkbox" id="drop-remove"> remove after drop
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /. box -->
                                    <div class="box box-solid">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Create Event</h3>
                                        </div>
                                        <div class="box-body">
                                            <div class="btn-group" style="width: 100%; margin-bottom: 10px;">
                                                <ul class="fc-color-picker" id="color-chooser">
                                                    <li><a class="text-aqua" href="javascript:void"><i class="fa fa-square"></i></a></li>
                                                    <li><a class="text-blue" href="javascript:void"><i class="fa fa-square"></i></a></li>
                                                    <li><a class="text-light-blue" href="javascript:void"><i class="fa fa-square"></i></a></li>
                                                    <li><a class="text-teal" href="javascript:void"><i class="fa fa-square"></i></a></li>
                                                    <li><a class="text-yellow" href="javascript:void"><i class="fa fa-square"></i></a></li>
                                                    <li><a class="text-orange" href="javascript:void"><i class="fa fa-square"></i></a></li>
                                                    <li><a class="text-green" href="javascript:void"><i class="fa fa-square"></i></a></li>
                                                    <li><a class="text-lime" href="javascript:void"><i class="fa fa-square"></i></a></li>
                                                    <li><a class="text-red" href="javascript:void"><i class="fa fa-square"></i></a></li>
                                                    <li><a class="text-purple" href="javascript:void"><i class="fa fa-square"></i></a></li>
                                                    <li><a class="text-fuchsia" href="javascript:void"><i class="fa fa-square"></i></a></li>
                                                    <li><a class="text-muted" href="javascript:void"><i class="fa fa-square"></i></a></li>
                                                    <li><a class="text-navy" href="javascript:void"><i class="fa fa-square"></i></a></li>
                                                </ul>
                                            </div>
                                            <!-- /btn-group -->
                                            <div class="input-group">
                                                <input id="new-event" type="text" class="form-control" placeholder="Event Title">
                                                <div class="input-group-btn">
                                                    <button id="add-new-event" type="button" class="btn btn-primary btn-flat">Add</button>
                                                </div>
                                                <!-- /btn-group -->
                                            </div>
                                            <!-- /input-group -->
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-md-9">
                                    <div class="box box-primary">
                                        <div class="box-body no-padding">
                                            <!-- THE CALENDAR -->
                                            <div id="calendar"></div>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /. box -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(function() {



    /* initialize the external events
     -----------------------------------------------------------------*/
    var date = new Date();
    var d = date.getDate(),
        m = date.getMonth(),
        y = date.getFullYear();
    var event = Array();
    /* initialize the external events
    -----------------------------------------------------------------*/

    function ini_events(ele) {
        ele.each(function() {
            var eventObject = {
                title: $.trim($(this).text()) // use the element's text as the event title
            };

            // store the Event Object in the DOM element so we can get to it later
            $(this).data('eventObject', eventObject);

            // make the event draggable using jQuery UI
            $(this).draggable({
                zIndex: 999,
                revert: true, // will cause the event to go back to its
                revertDuration: 0 //  original position after the drag
            });

        });
    }
    ini_events($('#external-events div.external-event'));
    $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        buttonText: {
            today: 'today',
            month: 'month',
            week: 'week',
            day: 'day'
        },
        eventSources: [{
            url: 'http://localhost:8081/dbotica-spring/doctor/getMyCalendar',
            type: 'GET',
            xhrFields: {
                withCredentials: true
            },
            success: function(response) {
                var errorCode = response.errorCode;
                if (!!errorCode) {
                    switch (errorCode) {
                        case "NO_USER_LOGGED_IN":
                            localStorage.setItem("isLoggedIn", false);
                            swal({
                                    title: "Error",
                                    text: "You are not logged into your account. Kindly login again to view this page",
                                    type: "error",
                                    confirmButtonText: "OK"
                                },
                                function() {
                                    localStorage.setItem("isLoggedIn", false);
                                    window.location.replace("login.html");
                                }
                            );
                            break;
                    }
                }
            },
            error: function() {
                swal({
                        title: "Error",
                        text: "There was some error fetching your calendar events. Kindly contact the support team for further details.",
                        type: "error",
                        confirmButtonText: "OK"
                    },
                    function() {
                        localStorage.setItem("isLoggedIn", false);
                        window.location.replace("login.html");
                    }
                );
            },
            color: 'yellow', // a non-ajax option
            textColor: 'black' // a non-ajax option
        }],
        editable: true,
        droppable: true, // this allows things to be dropped onto the calendar
        dayClick: function(date, allDay, jsEvent, view) {
            //console.log(date.getFullYear()+date.getDate());

            //console.log(view);
            //if (view === "month") {
            $('#calendar').fullCalendar('gotoDate', date);
            $('#calendar').fullCalendar('changeView', 'agendaDay');
            //}
        },
        eventClick: function(calEvent, jsEvent, view) {

            alert('Redirecting to entryPrescriptions');
            console.log(calEvent.patientId);
            $.cookie('patientId_Event', calEvent.patientId);

            window.location.href = "entryPrescriptions.html";

        },

        eventDoubleClick: function(calEvent, jsEvent, view) {


            var r = swal({
                    title: "Warning",
                    text: "Are you sure you want to delete event - " + calEvent.title,
                    type: "warning",
                    confirmButtonText: "OK",
                    showConfirmButton: true,
                    showCancelButton: true
                },
                function() {
                    $.ajax({
                        type: "POST",
                        url: "http://localhost:8081/dbotica-spring/doctor/deleteCalendarEvent",
                        //data:JSON.stringify( {'calendarEvent': event}),
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader("Content-Type", "application/json");
                            xhr.setRequestHeader("Accept", "application/json");
                        },
                        xhrFields: {
                            withCredentials: true
                        },
                        data: calEvent.calendarEventId,
                        success: function(response) {
                            var errorCode = response.errorCode;
                            if (!!errorCode) {
                                switch (errorCode) {
                                    case "NO_USER_LOGGED_IN":
                                        localStorage.setItem("isLoggedIn", false);
                                        swal({
                                                title: "Error",
                                                text: "You are not logged into your account. Kindly login again to view this page",
                                                type: "error",
                                                confirmButtonText: "OK"
                                            },
                                            function() {
                                                localStorage.setItem("isLoggedIn", false);
                                                window.location.replace("login.html");
                                            }
                                        );
                                        break;
                                }
                            }

                            if (response.success === true) {
                                $('#calendar').fullCalendar('removeEvents', calEvent._id);
                            } else {
                                swal({
                                    title: "Error",
                                    text: "Event did not get delted. Kindly try in some time.",
                                    type: "error",
                                    confirmButtonText: "OK"
                                });
                            }
                        },
                        error: function(e) {
                            swal({
                                title: "Error",
                                text: "Event did not get deleted. Kindly try in some time.",
                                type: "error",
                                confirmButtonText: "OK"
                            });
                        },
                    });
                });
        },
        eventDrop: function(event, delta, revertFunc) {

            // console.log(event.id + " was dropped on " + event.start.format());
            console.log('in event drop');
            var patientInfoCookie = $.cookie('currentPatientInfo');
            var patientInfo = $.parseJSON(patientInfoCookie);
            var formatDate = event.start.toDate();
            var startTime = formatDate.getTime();
            startTime = calcLocalTime(startTime);

            $.ajax({
                type: "POST",
                url: "http://localhost:8081/dbotica-spring/doctor/updateCalendarEvent",
                //data:JSON.stringify( {'calendarEvent': event}),
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.setRequestHeader("Accept", "application/json");
                },
                xhrFields: {
                    withCredentials: true
                },
                data: JSON.stringify({
                    'doctorId': localStorage.getItem('doctorId'),
                    'id': event.calendarEventId,
                    'patientId': patientInfo[0].id,
                    'startTime': startTime,
                    'label': event.title,
                    'backgroundColor': event.backgroundColor,
                    'borderColor': event.borderColor
                }),
                success: function(response) {
                    var errorCode = response.errorCode;
                    if (!!errorCode) {
                        switch (errorCode) {
                            case "NO_USER_LOGGED_IN":
                                localStorage.setItem("isLoggedIn", false);
                                swal({
                                        title: "Error",
                                        text: "You are not logged into your account. Kindly login again to view this page",
                                        type: "error",
                                        confirmButtonText: "OK"
                                    },
                                    function() {
                                        localStorage.setItem("isLoggedIn", false);
                                        window.location.replace("login.html");
                                    }
                                );
                                break;
                        }
                    }

                    if (response.success === true) {

                    } else {
                        swal({
                            title: "Error",
                            text: "Event did not get updated. Kindly try in some time.",
                            type: "error",
                            confirmButtonText: "OK"
                        });
                    }
                },
                error: function(e) {
                    swal({
                        title: "Error",
                        text: "Event did not get updated. Kindly try in some time.",
                        type: "error",
                        confirmButtonText: "OK"
                    });
                },
            });
        },
        eventResize: function(event, delta, revertFunc) {

            console.log('Resize : ' + event.id + " end is now " + event.end.format());
            console.log('in event drop');
            var patientInfoCookie = $.cookie('currentPatientInfo');
            var id = "";
            try {
                var patientInfo = $.parseJSON(patientInfoCookie);
                id = patientInfo[0].id;
            } catch (e) {}
            var formatDate = event.start.toDate();
            var startTime = formatDate.getTime();
            startTime = calcLocalTime(startTime);
            var endTime = calcLocalTime(event.end.toDate().getTime());

            $.ajax({
                type: "POST",
                url: "http://localhost:8081/dbotica-spring/doctor/updateCalendarEvent",
                //data:JSON.stringify( {'calendarEvent': event}),
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.setRequestHeader("Accept", "application/json");
                },
                xhrFields: {
                    withCredentials: true
                },
                data: JSON.stringify({
                    'doctorId': localStorage.getItem('doctorId'),
                    'id': event.calendarEventId,
                    'patientId': id,
                    'startTime': startTime,
                    'endTime': endTime,
                    'label': event.title,
                    'backgroundColor': event.backgroundColor,
                    'borderColor': event.borderColor
                }),
                success: function(response) {
                    var errorCode = response.errorCode;
                    if (!!errorCode) {
                        switch (errorCode) {
                            case "NO_USER_LOGGED_IN":
                                localStorage.setItem("isLoggedIn", false);
                                swal({
                                        title: "Error",
                                        text: "You are not logged into your account. Kindly login again to view this page",
                                        type: "error",
                                        confirmButtonText: "OK"
                                    },
                                    function() {
                                        localStorage.setItem("isLoggedIn", false);
                                        window.location.replace("login.html");
                                    }
                                );
                                break;
                        }
                    }

                    if (response.success === true) {

                    } else {
                        swal({
                            title: "Error",
                            text: "Event did not get updated. Kindly try in some time.",
                            type: "error",
                            confirmButtonText: "OK"
                        });
                    }
                },
                error: function(e) {
                    swal({
                        title: "Error",
                        text: "Event did not get updated. Kindly try in some time.",
                        type: "error",
                        confirmButtonText: "OK"
                    });
                },
            });

        },
        drop: function(date) {
            // is the "remove after drop" checkbox checked?
            // retrieve the dropped element's stored Event Object
            console.log('in drop');
            var originalEventObject = $(this).data('eventObject');

            // we need to copy it, so that multiple events don't have a reference to the same object
            var copiedEventObject = $.extend({}, originalEventObject);

            // assign it the date that was reported
            var formatDate = date.toDate();
            var startTime = formatDate.getTime();
            startTime = calcLocalTime(startTime);
            copiedEventObject.start = date;
            //copiedEventObject.allDay = allDay;
            copiedEventObject.backgroundColor = parseColor($(this).css("background-color"));
            copiedEventObject.borderColor = parseColor($(this).css("border-color"));
            //    console.log(copiedEventObject._id);

            $.ajax({
                type: "POST",
                url: "http://localhost:8081/dbotica-spring/doctor/addCalendarEvent",
                //data:JSON.stringify( {'calendarEvent': event}),
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.setRequestHeader("Accept", "application/json");
                },
                xhrFields: {
                    withCredentials: true
                },
                data: JSON.stringify({
                    'doctorId': localStorage.getItem('doctorId'),
                    'startTime': startTime,
                    'label': copiedEventObject.title,
                    'backgroundColor': copiedEventObject.backgroundColor,
                    'borderColor': copiedEventObject.borderColor
                }),
                success: function(response) {
                    var errorCode = response.errorCode;
                    if (!!errorCode) {
                        switch (errorCode) {
                            case "NO_USER_LOGGED_IN":
                                localStorage.setItem("isLoggedIn", false);
                                swal({
                                        title: "Error",
                                        text: "You are not logged into your account. Kindly login again to view this page",
                                        type: "error",
                                        confirmButtonText: "OK"
                                    },
                                    function() {
                                        localStorage.setItem("isLoggedIn", false);
                                        window.location.replace("login.html");
                                    }
                                );
                                break;
                        }
                    }

                    if (response.success === true) {
                        var data = $.parseJSON(response.response);
                        console.log(data);
                        if (!!data) {
                            copiedEventObject.calendarEventId = data['id'];
                        }
                        $('#calendar').fullCalendar('renderEvent', copiedEventObject, false);
                        if ($('#drop-remove').is(':checked')) {
                            $(this).remove();
                        }
                    } else {
                        swal({
                            title: "Error",
                            text: "Event did not get updated. Kindly try in some time.",
                            type: "error",
                            confirmButtonText: "OK"
                        });
                    }
                },
                error: function(e) {
                    swal({
                        title: "Error",
                        text: "Event did not get added. Kindly try in some time.",
                        type: "error",
                        confirmButtonText: "OK"
                    });
                },

            });
        }
    });

    /* ADDING EVENTS */
    var currColor = "#3c8dbc"; //Red by default
    //Color chooser button
    var colorChooser = $("#color-chooser-btn");
    $("#color-chooser > li > a").click(function(e) {
        e.preventDefault();
        //Save color
        currColor = $(this).css("color");
        //Add color effect to button
        $('#add-new-event').css({
            "background-color": currColor,
            "border-color": currColor
        });
    });


    var date1 = new Date();

    $("#add-new-event").click(function(e) {

        e.preventDefault();
        //  Get value and make sure it is not null
        var val = $("#new-event").val();
        if (val.length == 0) {
            return;
        }
        //create event

        var event = $("<div />");
        event.css({
            "background-color": currColor,
            "border-color": currColor,
            "color": "#fff"
        }).addClass("external-event");
        event.html(val);


        if ($('#drop-remove').is(':checked')) {
            // if so, remove the element from the "Draggable Events" list
            $(this).remove();
        }



        // e.preventDefault();
        //Get value and make sure it is not null
        var val = $("#new-event").val();
        if (val.length == 0) {
            return;
        }

        //  Create events

        $('#external-events').prepend(event);

        ini_events(event);


        //Remove event from text input
        $("#new-event").val("");
    });
});
</script>
<script>
function getEvents() {
    console.log('in getEvents');
    var date = new Date();
    var d = date.getDate(),
        m = date.getMonth(),
        y = date.getFullYear();

    $.ajax({
        type: "GET",
        url: "http://localhost:8081/dbotica-spring/doctor/getMyCalendar?start=2016-04-01&end=2016-07-30",
        //data: {'doctorId': doctorId},
        // async : false,
        xhrFields: {
            withCredentials: true
        },
        success: function(response) {
            if (response.success === true && response.response.length > 2) {
                var data = $.parseJSON(response.response);
                console.log(data);
                console.log(data[0]['calendarEvent']['startTime']);
                event = Array();
                for (i in data) {
                    var date = new Date(data[i]['calendarEvent']['startTime']);
                    d = date.getDate();
                    m = date.getMonth();
                    y = date.getFullYear();
                    st_hrs = date.getHours();
                    st_mm = date.getMinutes();
                    console.log(new Date(data[0]['calendarEvent']['startTime']));

                    // console.log(data[i]['patient']['userName']);
                    event.push({
                        title: data[i]['patient']['userName'],
                        calendarEventId: data[i]['calendarEvent']['id'],
                        start: new Date(y, m, d, st_hrs, st_mm),
                        backgroundColor: "#f39c12",
                        borderColor: "#000000"
                    });
                    //console.log(event.length);

                }

                $('#calendar').fullCalendar('addEventSource', event);
            }

        },
        error: function(e) {
            alert('Error while fetching events!');
        },

    });

}

function parseColor(color) {
    var arr = [];
    color.replace(/[\d+\.]+/g, function(v) {
        arr.push(parseFloat(v));
    });
    return "#" + arr.slice(0, 3).map(toHex).join("");
}

function toHex(int) {
    var hex = int.toString(16);
    return hex.length == 1 ? "0" + hex : hex;
}

function calcTime(d, offset) {
    var utc = d.getTime() - (d.getTimezoneOffset() * 60000);
    var nd = new Date(utc + (3600000 * offset));
    return nd.getTime();
}

function calcLocalTime(time) {
    return time - 19800000;
}
</script>
