<div ng-controller="permissionsController as permissions">
    <h3>Assistant Permissions</h3>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <form>
                    <div class="form-group">
                        <label for="assistantName">*Assistant Name</label>
                        <input class="form-control" id="assistantName" type="text" placeholder="Assistant Name">
                    </div>
                    <div class="form-group">
                        <label for="assistantEmailid">*Email Id</label>
                        <input class="form-control" id="assistantEmailid" type="text" placeholder="Email Id">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
