<html>
<link rel="stylesheet" type="text/css" href="../css/printDischargeSummary.css">
<style type="text/css">
@page {
    size: auto;
    margin-top: 4mm;
    margin-bottom: 4mm;
}
</style>

<body>
    <div ng-app="printDischargeSummary" ng-controller="printDischargeSummaryController" class="container">
        <div ng-repeat="templateEntity in activeTemplateInstances">
            <div ng-repeat="fieldEntity in templateEntity">
                <div ng-repeat="field in fieldEntity track by $index">
                    <h4 ng-if="$index==0" ng-bind="field.sectionName"></h4>
                    <div ng-if="field.value!==''&&field.fieldType=='TEXT_BOX'||field.fieldType=='TEXT_AREA'||field.fieldType=='DROPDOWN'" class="row">
                        <!--  <div style="display:inline;" class="col-md-7 fieldValues col-sm-7 col-xs-6">
                           <label class="patientLabels labelWidth" ng-bind="field.name + ':'"></label>
                           <span class="patientLabels patientValues" ng-bind="field.value"></span>
                       </div> -->
                        <label class="patientLabels labelWidth" ng-bind="field.name+':'"></label>
                        <span class="patientLabels" ng-bind="field.value"></span>
                    </div>
                    <!-- <div class="row" ng-if="field.value!==''&&field.fieldType=='CHECK_BOX'">
                        <div class="col-md-7 fieldValues col-sm-7 col-xs-6">
                            <label class="patientLabels labelWidth" ng-bind="field.name +':'"></label>
                            <span class="patientLabels patientValues" style="display:block;" ng-bind="field.value">
                                </span>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../js/angular.js"></script>
    <script type="text/javascript" src="../../js/lodash.js"></script>
    <script type="text/javascript" src="../../js/moment.min.js"></script>
    <script type="text/javascript" src="../services/services.js"></script>
    <script type="text/javascript" src="../controllers/printDischargeSummaryController.js"></script>
</body>

</html>
