<div ng-controller="vitalSignController as vitalSign">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#contentOfVitalTab">Vital Sign</a></li>
    </ul>
    <div class="tab">
        <div id="contentOfVitalTab" class="tab-content activeTabContent">
            <button class="btn mainAdminBtn">Add Vital Parameters</button>
            <table class="table mainAdminTable table-hover table-striped">
                <thead>
                    <tr>
                        <th>Date Time</th>
                        <th>Pulse Rate</th>
                        <th>Temperature</th>
                        <th>Height</th>
                        <th>Blood Pressure</th>
                        <th>Respiration</th>
                        <th>Weight</th>
                        <th>Prepared By</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
